#gridlock{float:left; width: 960px; height: 905px; margin-right: 10px;}
#selectionbox{
	float:left;
	background-color: #1a1a1a;
	color:#fff;
	padding:10px;
	padding-top:30px;
	box-sizing: border-box;
}

#selectionbox textarea{
	width:100%;
}

.grid {
	margin:10px;
	border-collapse:collapse;
}

.grid td {
	cursor:pointer;
	width:18px; height:18px;
	min-width:18px; min-height:18px;
	max-width:18px; max-height:18px;
	border:1px solid #000;
	padding: 0px;
	background-color: #222;
	background-size: contain;
	background-repeat: no-repeat;
}
.grid td:hover {
	background-color: #444;
}
textarea {
     width: 100%;
     height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
		 font-family: 'Open Sans', sans-serif;
}
#export_container { overflow: none; width: 295px; }
#screeps-element-box .ui-selecting { background-color: #888888; }
#screeps-element-box .ui-selected { background-color: #888888; color: white; }
#screeps-element-box { list-style-type: none; margin: 0; padding: 0; width: 300px; }
#screeps-element-box li { margin: 3px; padding-left: 30px; font-size: 1.3em; height: 25px; background-repeat: no-repeat; background-size: contain; background-position: left;}

body{
	font-family: 'Open Sans', sans-serif;
	margin:0px;
	padding:0px;
	background-color: #2d2d2d;
}

.header{
	background-color: #1a1a1a;
	color:#fff;
}

.header img{
	height:40px;
	vertical-align: middle;
}

.header h1{
	margin-bottom:0px;
}

.container{
	width:1300px;
	margin:auto;
}

#export{
	height: auto;
}

#cell-details-box{
	text-align: center;
}
